# I See Dead People: An Analysis

Bryan Bumgardner, Data Scientist  
February - March 2016

### Death is a fact of life.   
That being said, it's worth studying how it fits in our popular culture. During the Metis Data Science bootcamp (shameless plug), while working on another project I discovered bodycounters.com[http://www.bodycounters.com/]. The dedicated volunteers at this site count and categorize the number of deaths in movies, and to date, have counted for over 2,000 movies. Go grab some beers, count the dead people in your favorite movie, and contribute to the site. 

The data are sitting on their site for anyone to see, and it gave me an idea. I reached out to the site and had some correspondence with Dana, who was gracious enough to share a CSV of all the data. I then cross referenced this data with information from another site, thenumbers.com, which shares basic budget and financial information about thousands of movies. I took this data, mashed it together, and asked some questions. 

Thanks again to the volunteers at bodycounters. Y'all are the greatest. Below is a quick data science passion project to analyze and find patterns in this great data you've collected.

### Major questions:
1. Is the amount of on-screen deaths going up in modern movies?
2. Does a movie's death count have an effect on that movie's domestic gross?
3. Does a movie's death count have an effect on that movie's rating? 
4. How does budget factor into a movie's death count?
5. Is there a relationship between the movie's MPAA rating and body count?

### Table of Contents:
1. Reading and combining the data
2. Outputting various data frames
3. Visualizing
4. Conclusions
5. Documentation of the data

In [1]:
import pandas as pd 
import numpy as np
import csv
import os

import codecs
from bs4 import BeautifulSoup

import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn.linear_model import LinearRegression 
from patsy import dmatrices


import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

%matplotlib inline
sns.set(color_codes=True)

### Step 1: read in and combine the data

Deaths data is a csv...

In [2]:
deaths = pd.read_csv("moviesmovies.csv", encoding="latin-1", index_col="movieskey") #might as well make use of their key

In [3]:
deaths["moviename"] = deaths["moviename"].str.rstrip("\t").str.lower() #cleaning some trailing spaces and standardizing for the matching
deaths["deathcomment"] = deaths["deathcomment"].str.rstrip("\t")

In [4]:
deaths.head(6)

,moviename,deathcount,deathcomment
movieskey,,,
1,king kong,71,"26 with Ape. Also 3 dinosaurs, 4 T-Rexes, 35 v..."
2,wrong turn,8,8
3,death to the supermodels,7,7
4,zombie honeymoon,10,10
5,ginger dead man,7,6 and a cookie
6,punisher,58,58

Grabbed a lot of the budget data from the website by saving it as a html, because the site crashes nonstop. Fixing:

In [5]:
budgetwebsite = pd.read_html("allmoviebudgets.html", header=0, encoding="utf-8")

In [6]:
all_budgets = pd.DataFrame(budgetwebsite[0])

How do I link them together? Fuzzy matching won't work: think "Terminator 2" and "Terminator 3." It would work if I had more data from the deaths source. I know how to do this in Excel...

In [7]:
all_budgets.to_csv("all_budgets.csv", encoding='utf-8')

Ok so I'm really lazy and that only matched like maybe a third of the movies. Let's scrape all the movie data - EVER - because we are crazy. And also because I'm not interested in paying for access to their database. 

So what you see below is me scraping all the budgets and domestic box offices for every movie in the alphabetized database. Every letter has a chart with all the movies starting with that letter. I downloaded each webpage from the data source as an HTML webpage then pulled the charts from that, which is less likely to get you banned than hitting up their site with Selenium.

I then mashed the charts together into one GIANT dataframe which will be helpful for record linkage. This needs properly cleaned as well.

In [172]:
path = 'movie_pages/' #where the HTML files are
listing = os.listdir(path) #read the pages from the directory
all_movie_data = pd.DataFrame(columns = ['Release Date', 'Movie', 'Genre', 'ProductionBudget','DomesticBox Officeto Date', 'Trailer'])

for i, infile in enumerate(listing): #iterate through the files
    temp_list = pd.read_html("movie_pages/"+infile, header=0)
    temp_frame = pd.DataFrame(temp_list[0]) #temp_list is a list of dataframes. Take the first (and only) one
    all_movie_data = all_movie_data.append(temp_frame) #append this to the master dataframe

In [173]:
del all_movie_data['Trailer'] #not necessary and screwed up the dropna

In [174]:
all_movie_data.rename(columns = {'DomesticBox Officeto Date': 'BoxOffice'}, inplace = True)

In [175]:
all_movie_data

,Release Date,Movie,Genre,ProductionBudget,BoxOffice
0,"Jan 28, 2014",1,Documentary,NaN,$0
1,NaN,NaN,NaN,NaN,NaN
2,"Jun 8, 2012",1 Out Of 7,Drama,NaN,$0
3,NaN,NaN,NaN,NaN,NaN
4,"Oct 5, 1979",10,Romantic Comedy,NaN,"$52,134,699"
5,"Mar 7, 2008","10,000 B.C.",Adventure,"$105,000,000","$94,784,201"
6,"Jul 24, 2015",10 Cent Pistol,Thriller/Suspense,NaN,$0
7,"Mar 11, 2016",10 Cloverfield Lane,Thriller/Suspense,"$5,000,000","$26,790,517"
8,"Nov 11, 2015",10 Days in a Madhouse,Drama,"$12,000,000","$14,616"
9,"Dec 31, 2015",10 Endrathukulla,Action,NaN,$0
10,"Aug 31, 2013",10 Habits of Highly Effective People,NaN,NaN,$0
11,"Sep 5, 2006",10 Minute Solution: Rapid Results Pilates,Instructional,NaN,$0
12,"Aug 24, 2007",10 Questions for the Dalai Lama,Documentary,NaN,"$224,546"
13,"Apr 4, 2014",10 Rules for Sleeping Around,Romantic Comedy,NaN,$0
14,"Dec 31, 2014",10 Things I Hate About Life,Romantic Comedy,NaN,$0
15,"Mar 11, 1983",10 to Midnight,Action,NaN,"$7,175,592"
16,"Sep 14, 2012",10 Years,Drama,NaN,"$203,654"
17,"Mar 24, 2000",100% Arabica,NaN,NaN,"$5,428"
18,"Jun 28, 2013",100 Bloody Acres,Black Comedy,NaN,"$6,388"
19,"Dec 31, 2017",100 Bullets,Action,NaN,$0
20,"Aug 25, 2012","1,000 Times More Brutal",Drama,NaN,$0
21,"Dec 31, 2014","10,000 Days",Adventure,NaN,$0
22,"Jul 10, 2015","10,000 KM",Drama,NaN,$0
23,"May 8, 2015",1001 Grams,Drama,NaN,"$10,983"
24,"Jan 25, 1961",101 Dalmatians,Comedy,NaN,"$153,000,000"
25,"Nov 27, 1996",101 Dalmatians,Comedy,NaN,"$136,182,161"
26,"Jun 9, 2015",101 Dalmations II: Patch's London Adventure,Adventure,NaN,$0
27,"Jul 25, 2001",101 Reykjavík,Comedy,NaN,"$109,277"
28,"Nov 22, 2000",102 Dalmatians,Comedy,"$85,000,000","$66,941,559"
29,"Dec 31, 2011",105 Degrees and Rising,Drama,NaN,$0
...,...,...,...,...,...
79,"May 12, 2009",La Zona,NaN,NaN,$0
80,"Dec 31, 1999",Zone 39,NaN,NaN,$0
81,"Apr 25, 2007",Zoo,Documentary,NaN,"$69,770"
82,"Jul 8, 2011",Zookeeper,Romantic Comedy,"$80,000,000","$80,360,866"
83,"Dec 31, 2016",The Zookeepers Wife,Drama,NaN,$0
84,"Sep 28, 2001",Zoolander,Comedy,"$28,000,000","$45,172,250"
85,"Feb 12, 2016",Zoolander 2,Comedy,"$50,000,000","$28,636,609"
86,"Aug 11, 2006",Zoom,Adventure,"$35,000,000","$11,631,245"
87,"Dec 31, 2015",Zoom,Comedy,NaN,$0
88,"Dec 31, 1995",Zooman,Action,NaN,$0
89,"Oct 2, 1981",Zoot Suit,Drama,NaN,"$380,302"
90,"Mar 4, 2016",Zootopia,Adventure,NaN,"$148,556,193"
91,"Jan 1, 1964",Zorba the Greek,NaN,NaN,"$9,000,000"
92,"Nov 20, 2012",Zorro,Adventure,NaN,$0
93,"Jul 24, 1981","Zorro, The Gay Blade",Comedy,NaN,"$10,000,000"
94,NaN,NaN,NaN,NaN,NaN
95,"Dec 31, 2008",Zrubavel,Drama,NaN,$0
96,NaN,NaN,NaN,NaN,NaN
97,"Dec 31, 2015",Zubaan,Drama,NaN,$0
98,"Dec 31, 2011",Zuì ài,Drama,NaN,$0
99,"Apr 28, 2006",Zui Hao De Shi Guang,Drama,NaN,"$151,922"
100,"Dec 31, 2013",Zulu,Thriller/Suspense,"$16,000,000",$0
101,"Dec 14, 1979",Zulu Dawn,NaN,NaN,$0
102,"May 8, 2015",Zuo Er,Drama,NaN,$0
103,"Feb 7, 2003",Zus & Zo,NaN,NaN,"$49,468"
104,NaN,NaN,NaN,NaN,NaN
105,"Apr 6, 2007",Zwartboek,Thriller/Suspense,"$22,000,000","$4,398,532"
106,"Feb 28, 2014",Zwei Leben,Drama,NaN,"$39,673"
107,NaN,NaN,NaN,NaN,NaN
108,"Feb 24, 2006",Zyzzyx Rd.,Thriller/Suspense,NaN,$20

In [176]:
all_movie_data = all_movie_data.dropna() #drop unneccessary lines with incomplete data

In [177]:
all_movie_data

,Release Date,Movie,Genre,ProductionBudget,BoxOffice
5,"Mar 7, 2008","10,000 B.C.",Adventure,"$105,000,000","$94,784,201"
7,"Mar 11, 2016",10 Cloverfield Lane,Thriller/Suspense,"$5,000,000","$26,790,517"
8,"Nov 11, 2015",10 Days in a Madhouse,Drama,"$12,000,000","$14,616"
28,"Nov 22, 2000",102 Dalmatians,Comedy,"$85,000,000","$66,941,559"
31,"Aug 18, 2006",10th & Wolf,Drama,"$8,000,000","$54,702"
35,"Aug 12, 2005",11:14,Drama,"$6,000,000",$0
47,"Apr 13, 1957",12 Angry Men,Drama,"$340,000",$0
55,"Mar 27, 2009",12 Rounds,Action,"$20,000,000","$12,234,694"
60,"Nov 5, 2010",127 Hours,Drama,"$18,000,000","$18,335,230"
64,"Apr 23, 2004",13 Going On 30,Comedy,"$30,000,000","$57,139,723"
65,"Jan 15, 2016",13 Hours: The Secret Soldiers of Benghazi,Drama,"$50,000,000","$52,715,640"
74,"Aug 27, 1999",The 13th Warrior,Action,"$125,000,000","$32,694,788"
77,"Jun 22, 2007",1408,Horror,"$22,500,000","$71,975,611"
83,"Mar 9, 2001",15 Minutes,Thriller/Suspense,"$42,000,000","$24,375,436"
86,"Mar 3, 2006",16 Blocks,Action,"$45,000,000","$36,883,539"
89,"Sep 3, 2010",16 to Life,Romantic Comedy,"$1,000,000","$11,574"
94,"Apr 17, 2009",17 Again,Comedy,"$40,000,000","$64,167,069"
98,"Nov 9, 1972",1776,Musical,"$4,000,000",$0
107,"Dec 14, 1979",1941,Comedy,"$32,000,000","$34,175,000"
112,"Mar 1, 2016",1982,Drama,"$1,000,000",$0
1,"Jun 28, 2011",2:13,Horror,"$3,500,000",$0
8,"Jun 6, 2003",2 Fast 2 Furious,Action,"$76,000,000","$127,120,058"
9,"Oct 7, 2005",2 For the Money,Drama,"$20,000,000","$22,862,049"
10,"Aug 2, 2013",2 Guns,Action,"$61,000,000","$75,612,460"
19,"Dec 24, 1916","20,000 Leagues Under the Sea",Adventure,"$200,000","$8,000,000"
20,"Dec 23, 1954","20,000 Leagues Under the Sea",Adventure,"$5,000,000","$28,200,000"
23,"Feb 26, 1999",20 Dates,Comedy,"$66,000","$536,767"
26,"Feb 26, 1999",200 Cigarettes,Romantic Comedy,"$6,000,000","$6,851,636"
30,"Apr 2, 1968",2001: A Space Odyssey,Adventure,"$10,500,000","$56,700,000"
42,"Nov 13, 2009",2012,Action,"$200,000,000","$166,112,167"
...,...,...,...,...,...
141,"Dec 9, 2011",Young Adult,Comedy,"$12,000,000","$16,311,571"
144,"Jul 31, 2015",The Young and Prodigious T.S. Spivet,Adventure,"$33,000,000","$176,847"
151,"Dec 15, 1974",Young Frankenstein,Comedy,"$2,800,000","$86,300,000"
155,"Aug 12, 1988",Young Guns,Western,"$13,000,000","$44,726,644"
159,"Mar 11, 2016",The Young Messiah,Drama,"$16,800,000","$3,551,328"
164,"Dec 4, 1985",Young Sherlock Holmes,Adventure,"$18,000,000","$18,106,539"
167,"Dec 18, 2009",The Young Victoria,Drama,"$35,000,000","$11,001,272"
173,"Apr 8, 2011",Your Highness,Comedy,"$50,000,000","$21,596,445"
176,"Jun 15, 2012",Your Sister's Sister,Drama,"$120,000","$1,597,486"
182,"Nov 23, 2005","Yours, Mine and Ours",Comedy,"$45,000,000","$53,359,917"
187,"Jan 8, 2010",Youth in Revolt,Comedy,"$18,000,000","$15,285,588"
189,"Dec 18, 1998",You've Got Mail,Drama,"$65,000,000","$115,731,542"
192,"Aug 13, 2004",Yu-Gi-Oh,Adventure,"$20,000,000","$19,762,690"
4,"Aug 18, 2015",Z Storm,Action,"$7,000,000",$0
8,"Oct 31, 2008",Zack and Miri Make a Porno,Comedy,"$24,000,000","$31,457,946"
9,"Dec 31, 2012",Zambezia,Comedy,"$20,000,000",$0
14,"Nov 11, 2005",Zathura,Adventure,"$65,000,000","$28,045,540"
26,"Dec 19, 2012",Zero Dark Thirty,Drama,"$52,500,000","$95,720,716"
29,"Jan 30, 1998",Zero Effect,Comedy,"$5,000,000","$1,980,338"
55,"Aug 28, 2015",Zipper,Thriller/Suspense,"$4,500,000",$0
58,"Mar 2, 2007",Zodiac,Thriller/Suspense,"$85,000,000","$33,080,084"
68,"Oct 8, 2013",Zombie Hunter,Action,"$1,000,000",$0
74,"Oct 2, 2009",Zombieland,Comedy,"$23,600,000","$75,590,286"
76,"Jan 29, 2010",Zombies of Mass Destruction,Comedy,"$1,000,000",$0
82,"Jul 8, 2011",Zookeeper,Romantic Comedy,"$80,000,000","$80,360,866"
84,"Sep 28, 2001",Zoolander,Comedy,"$28,000,000","$45,172,250"
85,"Feb 12, 2016",Zoolander 2,Comedy,"$50,000,000","$28,636,609"
86,"Aug 11, 2006",Zoom,Adventure,"$35,000,000","$11,631,245"
100,"Dec 31, 2013",Zulu,Thriller/Suspense,"$16,000,000",$0
105,"Apr 6, 2007",Zwartboek,Thriller/Suspense,"$22,000,000","$4,398,532"

In [184]:
all_movie_data = all_movie_data.drop(all_movie_data['BoxOffice'] is "$0")

# Need to drop rows that have $0 profit???

In [185]:
all_movie_data

,Release Date,Movie,Genre,ProductionBudget,BoxOffice
5,"Mar 7, 2008","10,000 B.C.",Adventure,"$105,000,000","$94,784,201"
7,"Mar 11, 2016",10 Cloverfield Lane,Thriller/Suspense,"$5,000,000","$26,790,517"
8,"Nov 11, 2015",10 Days in a Madhouse,Drama,"$12,000,000","$14,616"
28,"Nov 22, 2000",102 Dalmatians,Comedy,"$85,000,000","$66,941,559"
31,"Aug 18, 2006",10th & Wolf,Drama,"$8,000,000","$54,702"
35,"Aug 12, 2005",11:14,Drama,"$6,000,000",$0
47,"Apr 13, 1957",12 Angry Men,Drama,"$340,000",$0
55,"Mar 27, 2009",12 Rounds,Action,"$20,000,000","$12,234,694"
60,"Nov 5, 2010",127 Hours,Drama,"$18,000,000","$18,335,230"
64,"Apr 23, 2004",13 Going On 30,Comedy,"$30,000,000","$57,139,723"
65,"Jan 15, 2016",13 Hours: The Secret Soldiers of Benghazi,Drama,"$50,000,000","$52,715,640"
74,"Aug 27, 1999",The 13th Warrior,Action,"$125,000,000","$32,694,788"
77,"Jun 22, 2007",1408,Horror,"$22,500,000","$71,975,611"
83,"Mar 9, 2001",15 Minutes,Thriller/Suspense,"$42,000,000","$24,375,436"
86,"Mar 3, 2006",16 Blocks,Action,"$45,000,000","$36,883,539"
89,"Sep 3, 2010",16 to Life,Romantic Comedy,"$1,000,000","$11,574"
94,"Apr 17, 2009",17 Again,Comedy,"$40,000,000","$64,167,069"
98,"Nov 9, 1972",1776,Musical,"$4,000,000",$0
107,"Dec 14, 1979",1941,Comedy,"$32,000,000","$34,175,000"
112,"Mar 1, 2016",1982,Drama,"$1,000,000",$0
8,"Jun 6, 2003",2 Fast 2 Furious,Action,"$76,000,000","$127,120,058"
9,"Oct 7, 2005",2 For the Money,Drama,"$20,000,000","$22,862,049"
10,"Aug 2, 2013",2 Guns,Action,"$61,000,000","$75,612,460"
19,"Dec 24, 1916","20,000 Leagues Under the Sea",Adventure,"$200,000","$8,000,000"
20,"Dec 23, 1954","20,000 Leagues Under the Sea",Adventure,"$5,000,000","$28,200,000"
23,"Feb 26, 1999",20 Dates,Comedy,"$66,000","$536,767"
26,"Feb 26, 1999",200 Cigarettes,Romantic Comedy,"$6,000,000","$6,851,636"
30,"Apr 2, 1968",2001: A Space Odyssey,Adventure,"$10,500,000","$56,700,000"
42,"Nov 13, 2009",2012,Action,"$200,000,000","$166,112,167"
54,"Jul 13, 2012",2016: Obama’s America,Documentary,"$2,500,000","$33,349,941"
...,...,...,...,...,...
141,"Dec 9, 2011",Young Adult,Comedy,"$12,000,000","$16,311,571"
144,"Jul 31, 2015",The Young and Prodigious T.S. Spivet,Adventure,"$33,000,000","$176,847"
151,"Dec 15, 1974",Young Frankenstein,Comedy,"$2,800,000","$86,300,000"
155,"Aug 12, 1988",Young Guns,Western,"$13,000,000","$44,726,644"
159,"Mar 11, 2016",The Young Messiah,Drama,"$16,800,000","$3,551,328"
164,"Dec 4, 1985",Young Sherlock Holmes,Adventure,"$18,000,000","$18,106,539"
167,"Dec 18, 2009",The Young Victoria,Drama,"$35,000,000","$11,001,272"
173,"Apr 8, 2011",Your Highness,Comedy,"$50,000,000","$21,596,445"
176,"Jun 15, 2012",Your Sister's Sister,Drama,"$120,000","$1,597,486"
182,"Nov 23, 2005","Yours, Mine and Ours",Comedy,"$45,000,000","$53,359,917"
187,"Jan 8, 2010",Youth in Revolt,Comedy,"$18,000,000","$15,285,588"
189,"Dec 18, 1998",You've Got Mail,Drama,"$65,000,000","$115,731,542"
192,"Aug 13, 2004",Yu-Gi-Oh,Adventure,"$20,000,000","$19,762,690"
4,"Aug 18, 2015",Z Storm,Action,"$7,000,000",$0
8,"Oct 31, 2008",Zack and Miri Make a Porno,Comedy,"$24,000,000","$31,457,946"
9,"Dec 31, 2012",Zambezia,Comedy,"$20,000,000",$0
14,"Nov 11, 2005",Zathura,Adventure,"$65,000,000","$28,045,540"
26,"Dec 19, 2012",Zero Dark Thirty,Drama,"$52,500,000","$95,720,716"
29,"Jan 30, 1998",Zero Effect,Comedy,"$5,000,000","$1,980,338"
55,"Aug 28, 2015",Zipper,Thriller/Suspense,"$4,500,000",$0
58,"Mar 2, 2007",Zodiac,Thriller/Suspense,"$85,000,000","$33,080,084"
68,"Oct 8, 2013",Zombie Hunter,Action,"$1,000,000",$0
74,"Oct 2, 2009",Zombieland,Comedy,"$23,600,000","$75,590,286"
76,"Jan 29, 2010",Zombies of Mass Destruction,Comedy,"$1,000,000",$0
82,"Jul 8, 2011",Zookeeper,Romantic Comedy,"$80,000,000","$80,360,866"
84,"Sep 28, 2001",Zoolander,Comedy,"$28,000,000","$45,172,250"
85,"Feb 12, 2016",Zoolander 2,Comedy,"$50,000,000","$28,636,609"
86,"Aug 11, 2006",Zoom,Adventure,"$35,000,000","$11,631,245"
100,"Dec 31, 2013",Zulu,Thriller/Suspense,"$16,000,000",$0
105,"Apr 6, 2007",Zwartboek,Thriller/Suspense,"$22,000,000","$4,398,532"

In [164]:
all_movie_data

,Release Date,Movie,Genre,ProductionBudget,BoxOffice
1292,"May 21, 2008",Auf der anderen Seite,Drama,NaN,"$742,349"
1359,"Aug 14, 1998",The Avengers,Action,"$60,000,000","$23,385,416"
1292,"Apr 16, 1993",Boiling Point,Action,NaN,"$10,058,318"
1359,"Oct 17, 2014",The Book of Life,Adventure,"$50,000,000","$50,151,543"
1407,"Dec 20, 1989",Born on the Fourth of July,Drama,"$14,000,000","$65,441,414"
1408,"Sep 28, 2001",Born Romantic,Comedy,NaN,"$14,597"
1426,"Apr 28, 2000",Bossa Nova,Romantic Comedy,NaN,"$1,816,792"
1439,"Jul 10, 2015",Boulevard,Drama,NaN,"$126,150"
1440,"Nov 17, 2000",Bounce,Drama,"$35,000,000","$36,805,288"
1445,"Apr 16, 1993",Bound by Honor,NaN,"$35,000,000","$4,496,583"
1456,"Aug 10, 2012",The Bourne Legacy,Thriller/Suspense,"$125,000,000","$113,203,870"
1457,"Jul 23, 2004",The Bourne Supremacy,Thriller/Suspense,"$85,000,000","$176,087,450"
1459,"Feb 7, 1961",à bout de souffle,Drama,NaN,"$67,464"
1463,"Aug 13, 1999",Bowfinger,Comedy,"$55,000,000","$66,365,290"
1473,"Mar 2, 2012",Boy,Drama,NaN,"$256,211"
1474,"Jul 23, 2008",Boy A,Drama,NaN,"$113,662"
1497,"May 10, 1996",Boys,Drama,NaN,"$477,367"
1513,"Feb 3, 1995",Boys on the Side,Drama,NaN,"$23,394,062"
1515,"Oct 15, 1999",The Boys,Drama,NaN,"$2,930"
1516,"May 22, 2009",The Boys: The Sherman Brothers' Story,Documentary,NaN,"$55,513"
1523,"Jan 22, 1988",Braddock: Missing in Action III,Action,NaN,"$6,000,000"
1527,"Apr 17, 1992",Brain Donors,Comedy,NaN,"$860,365"
1532,"Feb 12, 1993",Braindead,Horror,"$3,000,000","$242,623"
1544,"Dec 22, 1978",Brass Target,Drama,NaN,"$354,797"
1546,"May 23, 1997",Brassed Off,Comedy,NaN,"$2,560,471"
1548,"Aug 3, 2007",Bratz,Comedy,NaN,"$10,010,209"
1557,"Jun 22, 2012",Brave,Adventure,"$185,000,000","$237,282,182"
1570,"Dec 18, 1985",Brazil,Black Comedy,"$15,000,000","$9,929,135"
1586,"May 2, 1997",Breakdown,Thriller/Suspense,"$36,000,000","$50,129,186"
1588,"Oct 5, 1961",Breakfast at Tiffany's,Drama,NaN,"$9,551,904"
...,...,...,...,...,...
2427,"Dec 25, 1998",The Swindle,Comedy,"$10,000,000","$245,359"
2429,"Jun 18, 2004",Swing,Drama,NaN,"$2,509"
2430,"Mar 5, 1993",Swing Kids,Musical,NaN,"$5,632,086"
2431,"Apr 13, 1984",Swing Shift,Drama,NaN,"$6,650,206"
2432,"Aug 1, 2008",Swing Vote,Comedy,"$21,000,000","$16,289,867"
2433,"Oct 18, 1996",Swingers,Comedy,"$200,000","$4,505,922"
2437,"Dec 21, 1960",Swiss Family Robinson,NaN,NaN,"$40,400,000"
2439,"May 10, 1991",Switch,Comedy,NaN,"$15,545,943"
2441,"Aug 20, 2010",The Switch,Romantic Comedy,"$19,000,000","$27,758,465"
2442,"Oct 31, 1997",Switchback,Action,"$38,000,000","$6,482,195"
2443,"May 31, 1975",Switchblade Sisters,Action,NaN,"$41,058"
2444,"Mar 4, 1988",Switching Channels,Comedy,NaN,"$9,000,000"
2445,"Apr 23, 1982",The Sword and the Sorcerer,Action,NaN,"$36,714,025"
2446,"Dec 25, 1963",The Sword in the Stone,Adventure,NaN,"$22,182,353"
2451,"Jun 8, 2001",Swordfish,Action,"$80,000,000","$69,772,969"
2452,NaN,NaN,NaN,NaN,NaN
2454,NaN,NaN,NaN,NaN,NaN
2455,"Sep 21, 2007",Sydney White,Comedy,"$16,500,000","$11,702,090"
2456,"Sep 16, 2011",Sykt lykkelig,Drama,NaN,"$45,154"
2458,"Mar 15, 1985",Sylvester,Drama,NaN,"$385,687"
2459,"Oct 17, 2003",Sylvia,Drama,NaN,"$1,302,242"
2460,"May 31, 1985",Sylvia,Drama,NaN,"$44,234"
2462,"Apr 29, 2011",Sympathy for Delicious,Comedy,NaN,"$13,826"
2464,"Jan 22, 2016",Synchronicity,Thriller/Suspense,NaN,"$4,505"
2465,"Oct 24, 2008","Synecdoche, New York",Drama,"$20,000,000","$3,083,538"
2466,"Aug 14, 2013","Syngue sabour, pierre de patience",Comedy,NaN,"$148,408"
2467,"Nov 16, 2005",The Syrian Bride,Comedy,NaN,"$380,505"
2469,"Nov 23, 2005",Syriana,Thriller/Suspense,"$50,000,000","$50,824,620"
2470,"Jun 7, 2013",Syrup,Comedy,NaN,$663
1292,"Oct 24, 2014",Two-Bit Waltz,Comedy,NaN,"$2,540"

In [150]:
test_movie_data = all_movie_data

In [122]:
all_movie_data.to_csv("all_movie_data.csv", encoding='utf-8') #used this to prove that record linkage was needed.
# Looked at the data in Excel.

In [151]:
all_movie_data["Movie"] = all_movie_data["Movie"].str.lower()
all_movie_data["Genre"] = all_movie_data["Genre"].str.lower()
all_movie_data["ProductionBudget"] = all_movie_data["ProductionBudget"].str.strip('$')
all_movie_data["ProductionBudget"] = all_movie_data["ProductionBudget"].str.replace(",", '')

In [ ]:
all_movie_data.head(10)

In [153]:
all_movie_data["BoxOffice"] = all_movie_data["BoxOffice"].str.strip('$')
all_movie_data["BoxOffice"] = all_movie_data["BoxOffice"].str.replace(",", '')

After that, just drop rows with null or empty values because this data is dirty:

In [155]:
all_movie_data

,Release Date,Movie,Genre,ProductionBudget,BoxOffice
1359,"Aug 14, 1998",the avengers,action,60000000,23385416
1359,"Oct 17, 2014",the book of life,adventure,50000000,50151543
1407,"Dec 20, 1989",born on the fourth of july,drama,14000000,65441414
1440,"Nov 17, 2000",bounce,drama,35000000,36805288
1456,"Aug 10, 2012",the bourne legacy,thriller/suspense,125000000,113203870
1457,"Jul 23, 2004",the bourne supremacy,thriller/suspense,85000000,176087450
1463,"Aug 13, 1999",bowfinger,comedy,55000000,66365290
1532,"Feb 12, 1993",braindead,horror,3000000,242623
1557,"Jun 22, 2012",brave,adventure,185000000,237282182
1570,"Dec 18, 1985",brazil,black comedy,15000000,9929135
1586,"May 2, 1997",breakdown,thriller/suspense,36000000,50129186
1632,"Jun 20, 2008",brick lane,drama,2500000,1094998
1650,"Dec 18, 1957",the bridge on the river kwai,drama,3000000,33300000
1656,"Jun 2, 1995",the bridges of madison county,drama,22000000,71477088
1663,"Apr 6, 2001",brigham city,thriller/suspense,1000000,852206
1680,"Mar 7, 2003",bringing down the house,comedy,20000000,132675402
1703,"Feb 9, 1996",broken arrow,action,65000000,70640985
1706,"Jan 18, 2013",broken city,thriller/suspense,35000000,19701164
1742,"Mar 5, 2010",brooklyn's finest,thriller/suspense,17000000,27163593
1752,"Dec 4, 2009",brothers,drama,26000000,28544157
1753,"Aug 14, 2015",brothers,action,13000000,656688
1756,"Aug 26, 2005",the brothers grimm,adventure,80000000,37899638
1764,"Aug 9, 1995",the brothers mcmullen,drama,50000,10202068
1767,"Sep 7, 2007",the brothers solomon,comedy,10000000,900926
1773,"Aug 27, 2004",the brown bunny,drama,10000000,366301
1774,"Oct 11, 2002",brown sugar,romantic comedy,8000000,27362712
1779,"May 23, 2003",bruce almighty,comedy,81000000,242704995
1783,"Jul 10, 2009",brüno,comedy,42000000,60054530
1791,"Sep 19, 2003",bubba ho-tep,comedy,1000000,1184656
1805,"Sep 9, 2011",bucky larson: born to be a star,comedy,10000000,2529395
...,...,...,...,...,...
2296,"Jun 19, 1981",superman ii,adventure,54000000,101347629
2297,"Jun 17, 1983",superman iii,adventure,39000000,59950623
2298,"Jul 24, 1987",superman iv: the quest for peace,action,17000000,11227824
2299,"Jun 28, 2006",superman returns,adventure,232000000,200120000
2305,"Jan 14, 2000",supernova,action,60000000,14218868
2306,"Oct 8, 1999",superstar,comedy,14000000,30628981
2312,"Jan 25, 2013",supporting characters,comedy,60000,4917
2319,"Oct 3, 2003",sur le seuil,drama,2500000,2013052
2326,"Sep 5, 2008","surfer, dude",comedy,6000000,36497
2328,"Jun 8, 2007",surf's up,adventure,100000000,58867694
2334,"Sep 25, 2009",surrogates,action,80000000,38577772
2335,"Jun 26, 2009",surveillance,thriller/suspense,3500000,27349
2355,"Aug 27, 2004",suspect zero,thriller/suspense,27000000,8712564
2386,"Mar 1, 2013",the sweeney,action,4500000,26345
2395,"Oct 10, 1997",the sweet hereafter,drama,5000000,4306697
2396,"Sep 27, 2002",sweet home alabama,comedy,38000000,127214072
2403,"Feb 16, 2001",sweet november,drama,40000000,25178165
2407,"Apr 12, 2002",the sweetest thing,romantic comedy,43000000,24430272
2416,"Oct 11, 2002",swept away,romantic comedy,10000000,598645
2420,"Sep 6, 2002",swimfan,drama,10000000,28564995
2423,"Jul 4, 2003",swimming pool,thriller/suspense,7800000,10105505
2427,"Dec 25, 1998",the swindle,comedy,10000000,245359
2432,"Aug 1, 2008",swing vote,comedy,21000000,16289867
2433,"Oct 18, 1996",swingers,comedy,200000,4505922
2441,"Aug 20, 2010",the switch,romantic comedy,19000000,27758465
2442,"Oct 31, 1997",switchback,action,38000000,6482195
2451,"Jun 8, 2001",swordfish,action,80000000,69772969
2455,"Sep 21, 2007",sydney white,comedy,16500000,11702090
2465,"Oct 24, 2008","synecdoche, new york",drama,20000000,3083538
2469,"Nov 23, 2005",syriana,thriller/suspense,50000000,50824620

### 5. Documentation of the data:

Budget and financial data of movies: http://www.the-numbers.com/movie/budgets/all